<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>MuresApp</title>
    <link rel="stylesheet" href="https://js.arcgis.com/3.23/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.23/esri/css/esri.css">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="http://esri.github.io/bootstrap-map-js/src/css/bootstrapmap.css">

    <link href="/css/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>


    <link href="/css/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/creative.min.css" rel="stylesheet">
    <link href="/css/style2.0.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body class="claro">

<!-- HEADER -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">MuresApp</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                {{#name}}
                    <li class="nav-item">
                        <a href="#" id="user_logout" class="logout-link nav-link" data-username="{{name}}" data-isadmin="{{isAdmin}}">
                            <span class="network-name">Logout</span>
                        </a>
                    </li>
                {{/name}}
                {{^name}}
                    <li class="nav-item">
                        <a href="#" id="user_login" data-toggle="modal"  data-target="#login_register_modal" class="login-link nav-link logging">
                            <span class="network-name">Authenticate</span>
                        </a>
                    </li>
                {{/name}}


            </ul>
        </div>
    </div>
</nav>

<!-- LOGIN FORM -->
<div class="modal fade" id="login_register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="dialog">
        <div class="panel panel-login">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form id="login-form" action="#" method="post" role="form" style="display: block;">
                            <h2>LOGIN</h2>
                            <p class="hidden invalid-data">The provided email or password are incorrect.</p>
                            <div class="form-group">
                                <input type="text" name="email" id="login-email" tabindex="1" class="form-control" placeholder="Email" value="">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="login-password" tabindex="2" class="form-control" placeholder="Password">
                            </div>
                            <div class="col-lg-6 form-group pull-right">
                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                            </div>
                        </form>
                        <form id="register-form" action="#" method="post" role="form" style="display: none;" novalidate>
                            <h2>REGISTER</h2>
                            <div class="form-group">
                                <input type="text" name="fullname" id="fullname" tabindex="1" class="form-control mandatory" placeholder="Name *" value="" required>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" id="email" tabindex="1" class="form-control mandatory email" placeholder="Email *" value="" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" tabindex="2" class="form-control mandatory pass" placeholder="Password *" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control mandatory confirm-pass" placeholder="Confirm Password *" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="phone" id="phone" tabindex="1" class="form-control" placeholder="Phone" value="">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6 tabs">
                        <a href="#" class="active" id="login-form-link"><div class="login">LOGIN</div></a>
                    </div>
                    <div class="col-lg-6 tabs">
                        <a href="#" id="register-form-link"><div class="register">REGISTER</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="mainWindow" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design:'headline'">
    <div id="header" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top'">
        <div id="title"></div>
        <div id="subtitle"></div>
    </div>
    <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'"></div>
    <div id="rightPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'right'">
        <div id="legend"></div>
    </div>
</div>

<!--<div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="padding: 0;"></div>-->

<script src="https://js.arcgis.com/3.23/init.js"></script>

<!-- Bootstrap core JavaScript -->
<script src="/js/vendor/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="/js/vendor/underscore.min.js"></script>


<script src="/js/Login.js"></script>
<script src="/js/Register.js"></script>
<script type="application/javascript" src = /js/main.js></script>

<script>
    $(function() {
        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });

</script>

</body>
</html>